<%- include("partials/header") -%>
<h3>About Page</h3>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod fugit corporis inventore? Deserunt totam explicabo architecto ducimus, distinctio voluptate! Quod deserunt natus rerum ex iusto molestiae recusandae deleniti consequatur modi!</p>
<%- include("partials/footer") -%>
