<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Users List</h2> 
    <% users.forEach(user => { %>
        <h3>Name</h3>
        <h4><%= user.name %></h4>
        <h3>Email</h3>
        <a href="/users/<%= user.email %>"><h4><%= user.email %></h4></a>        
    <% }) %>
</body>
</html>