<%- include("./partials/header") -%>
<form action="/users/new" method="POST">
	<input type="text" name="name" placeholder="Name" />
	<input type="email" name="email" placeholder="Email" />
	<input type="number" name="age" placeholder="Age" />
	<input
		type="text"
		name="sports"
		placeholder="Sports ( Separated by comma )"
	/>
	<input type="submit" value="Create User" />
</form>
<%- include("./partials/footer")-%>
